* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #dff2ef;
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100vh;
}

li {
    list-style: none;
    /* padding: 9px 0;
    text-align: center;
    background-color: #bfeae4;
    margin: 8px 7px;
    border-radius: 10px; */
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #baead5;
    margin: 8px 7px;
    border-radius: 10px;
}

h3 {
    color: #ffff;
}

h2:hover {
    background-color: #0cbf75;
}

h2 a {
    text-decoration: none;
    color: #0cbf75;
    padding: 10px 0;
    font-size: 19px;
    width: 233px;
}

h2 a:hover {
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    text-align: center;
    margin: 8px 7px;
    border-radius: 10px;
}

h1 a {
    text-decoration: none;
    color: #0cbf75;
    font-size: 26px;
    width: 190px;
}

html {
    background-color: #ffff;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    /*justify-content: center;*/
}

.feet {
    position: relative;
    right: 90px;
    bottom: 10px;
}

.inch {
    position: relative;
    left: 90px;
    bottom: 10px;
}

.equals {
    position: relative;
    top: 34px;
}

.equals h3 {
    font-size: 30px;
    font-weight: bold;
}


.feet h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inch h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box {
    background-color: #0cbf75;
    height: 35vh;
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    top: 180px;
    left: 53px;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    height: 35px;
    width: 190px;
    font-size: 27px;
    margin: 0 16px;
    border-radius: 7px;
    padding: 0 0 0 5px;
    text-align: center;
    border: 2px solid #0cbf75;
}

.input {
    display: inline;
}

.feet-to-inch {
    display: inline-flex;
}

.heading {
    color: #0cbf75;
    font-weight: bold;
    font-size: 37px;
    position: relative;
    left: 425px;
    top: 53px;
    height: fit-content;
}